@model IEnumerable<DuyuruViewModel>

@{
    ViewData["Title"] = "Duyurular";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Duyuru Listesi</h1>
</div>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <div class="row justify-content-center">
                <div class="col-sm-11">
                    <input type="text" name="SearchString" class="form-control" value="@ViewData["CurrentFilter"]" placeholder="Duyuru arama" />
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-success  btn-circle btn-sm"><i class='fas fa-search'></i></button>
                    <a asp-action="Index" class="btn btn-warning btn-circle btn-sm"><i class='fas fa-sync'></i></a>
                    <button type="button" onclick="showInPopup('@Url.Action("AddOrEdit","Duyuru",null,Context.Request.Scheme)','Duyuru Ekle')" class="btn btn-primary  btn-circle btn-sm">
                        <i class="fas fa-plus fa-sm"></i>
                    </button>
                </div>
            </div>
        </p>
    </div>
</form>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Baslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icerik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Baslik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Icerik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarih)
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Duyuru",new {id=item.Id},Context.Request.Scheme)','Duyuru Guncelle')" class="btn btn-info text-white">Güncelle</a>
                    <a onclick="showInPopup('@Url.Action("Delete","Duyuru",new {id=item.Id},Context.Request.Scheme)','Duyuru Sil')" class="btn btn-danger text-white">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        let table = new DataTable('#myTable', {
            searching: false,
            "lengthChange": false,
            pageLength: 5,
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/tr.json',
            },
        });
    </script>
}