@model IEnumerable<SirketOtomasyonu.Data.Entities.Birim>

@{
    ViewData["Title"] = "Birimler";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Birim Listesi</h1>
</div>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <div class="row justify-content-center">
                <div class="col-sm-11">
                    <input type="text" name="SearchString" class="form-control" value="@ViewData["CurrentFilter"]" placeholder="Birim arama" />
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-success  btn-circle btn-sm"><i class='fas fa-search'></i></button>
                    <a asp-action="Index" class="btn btn-warning btn-circle btn-sm"><i class='fas fa-sync'></i></a>
                    <button type="button" onclick="showInPopup('@Url.Action("Create","Birim",null,Context.Request.Scheme)','Birim Ekle')" class="btn btn-primary  btn-circle btn-sm">
                        <i class="fas fa-plus fa-sm"></i>
                    </button>
                </div>
            </div>
        </p>


    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Adi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama)
                </td>
                <td>
                    <a class="btn btn-info text-white" asp-action="Edit" asp-route-id="@item.Id">Güncelle</a>
                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
