@model IEnumerable<KullaniciViewModel>

@{
    ViewData["Title"] = "Kullanıcılar";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Kullanıcı Listesi</h1>
</div>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <div class="row justify-content-center">
                <div class="col-sm-11">
                    <input type="text" name="SearchString" class="form-control" value="@ViewData["CurrentFilter"]" placeholder="Kullanıcı arama" />
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-success  btn-circle btn-sm"><i class='fas fa-search'></i></button>
                    <a asp-action="Index" class="btn btn-warning btn-circle btn-sm"><i class='fas fa-sync'></i></a>
                    <a asp-action="Create" class="btn btn-primary  btn-circle btn-sm">
                        <i class="fas fa-plus fa-sm"></i>
                    </a>
                </div>
            </div>
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yetki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GirisTarihi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KullaniciAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yetki.Adi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soyadi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GirisTarihi)
                </td>
                <td>
                    <a class="btn btn-info text-white" asp-action="Edit" asp-route-id="@item.Id">Güncelle</a>
                    <a onclick="showInPopup('@Url.Action("Delete","Kullanici",new {id=item.Id},Context.Request.Scheme)','Kullanıcı Sil')" class="btn btn-danger text-white">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>