@model IEnumerable<SirketOtomasyonu.Data.Entities.Yetki>

@{
    ViewData["Title"] = "Yetkiler";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Yetki Listesi</h1>
    <a asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-plus fa-sm text-white-50"></i> Yeni Kayıt
    </a>
</div>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="SearchString" class="form-control" value="@ViewData["CurrentFilter"]" placeholder="Yetki arama" />
            <input type="submit" value="Filtrele" class="btn btn-default" /> |
            <a asp-action="Index">Filtrelemeyi Temizle</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Adi)
                </td>
                <td>
                    <a class="btn btn-info text-white" asp-action="Edit" asp-route-id="@item.Id">Güncelle</a>
                    <a onclick="showInPopup('@Url.Action("Delete","Yetki",new {id=item.Id},Context.Request.Scheme)','Yetki Sil')" class="btn btn-danger text-white">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
